* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: hsl(330, 100%, 66%);
}

.header {
  padding: 20px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: hsl(281, 49%, 33%);
  color: #ffffff;
}

.header h1 {
  display: inline-block;
  font-size: 48px;
}
