*
html
.header h1 {
  background-color: blueviolet;
  font-size: large;
  font-family: Arial, Helvetica, sans-serif;
}


.nav-container {
  align-content: center;
  font-size: 52px;
  font-family: Arial, Helvetica, sans-serif;
  font-size-adjust: unset;
  background-color: hsl(330, 100%, 66%);
}